/*
1 Posicionamiento
2 Modelo de caja
3 Tipografía
4 Visuales
5 Otros
*/

:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warn-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-withe: #FAF8F7;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 280px;
    height: 440px;
    align-items: center;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.logo{
    width: 151px;
    height: 24px;
    margin-top: 40px;
}

.header--title-container{
    width: 90%;
    min-width: 228px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
}

    .header--title-container h1{
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 2.6rem;
        color: var(--white);
    }

    .header--title-container p{
        margin-top: 25px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: var(--soft-orange);
    }

    .header--title-container .header--buttom{
        position: absolute;
        left: calc(50% - 114px);
        top: 376px;
        display: block;
        margin-top: 35px;
        padding: 15px;
        width: 229px;
        height: 50px;
        background-color: var(--off-withe);
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border: none;
        text-decoration: none;
        color: var(--black);
        font-size: 1.2rem;
        font-weight: 700;
    }

.header--buttom span{
    display: inline-block;
    width: 13px;
    height: 8px;
    background-image: url('../assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-withe);
}

.main--exchange-container{
    width: 100%;
    height: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.main--exchange-container--title{
    width:90%;
    min-width: 228px;
    max-width: 900px;
    margin: 0 auto;
}

    .main--exchange-container--title h2{
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 2.6rem;
        color: var(--black);
        margin-bottom: 24px;
    }

    .main--exchange-container--title p{
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: #757575;
    }
    

.main--exchange-container .backgroundImg{
    width:200px;
    height:200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/img/bitcoinbaby.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .main--table-container .table-container--table{
        margin: 50px 0;
        padding: 0 15px;
        width: 100%;
        display: grid;
        align-content: center;
        align-items: center;
        grid-auto-rows: 60px;
        gap: 3px;
    }

        .currency{
            grid-template-columns: minmax(100px, 180px) minmax(100px, 180px) minmax(10px, 12px);
            grid-template-areas: 
            'a a a'
            'b c k'
            'd e k'
            'g h k'
            'i j k'
            'l l k';
        }

        .fees{
            grid-template-columns: minmax(10px, 18px) minmax(100px, 180px) minmax(100px, 180px);
            grid-template-areas: 
            'a a a'
            'k b c'
            'k d e'
            'k g h'
            'k i j'
            'k l l';
        }


.table-item__title{
    padding-left: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    text-align: left;
    grid-area: a;
}

    .currency .table-item__title {
        color: var(--bitcoin-orange);
    }

    .fees .table-item__title {
        padding-left: 25px;
        color: var(--secundary-blue);
    }


.arrow{
    width: 10px;
    height: 18px;
    grid-area: k;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .currency .arrow{
        margin: 0 0 65px 7px;
        background-image: url('../assets/icons/right-arrow.svg');
    }

    .fees .arrow{
        margin-bottom: 65px;
        background-image: url('../assets/icons/left-arrow.svg');
    }


.table-container--table .table-item{
    width: 100%;
    height: 100%;
    padding-top:22px ;
    padding-left: 10px;
    text-align: start;
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #B5B0AC;
    box-shadow: 0px 0px 20px rgba(211, 211, 211, 0.123);
}

    .table-container--table .table-item:nth-child(even){
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7rem;
        color: #757575;
    }
    .table-container--table .table-item:nth-child(2){
        border-radius: 10px 0 0 0;
    }

    .table-container--table .table-item:nth-child(3){
        border-radius: 0 10px 0 0;
    }
    
    .table-container--table .table-item:nth-child(8){
        border-radius: 0 0 0 10px;
    }

    .table-container--table .table-item:nth-child(9){
        border-radius: 0 0 10px 0;
    }

        

.table-item span{
    width: 12px;
    height: 12px;
    display: inline-block;
    background-image: url('../assets/icons/trending-down.svg');
}

.up span{ 
    background-image: url('../assets/icons/trending-up.svg');
}

.table-date{
    width: 230px;
    height: 35px;
    grid-area: l;
    justify-self: center;
    border-radius: 20px;
    padding-top: 8px;
    font-size: 1.2rem;;    
    line-height: 1.5rem;
}
    .currency .table-date{
        background-color: var(--soft-orange);
    }

    .fees .table-date{
        background-color: var(--soft-blue);
    }